<div class="container col-md-12">
  <div class="text-center">
    <h1>API Call From Angular</h1>
    <span><b>Results</b></span>
  </div>
  <table>
    <thead>
      <tr>
        <th>Brand Name</th>
        <th>Brand UID</th>
        <th>Manufacturer UID</th>
        <th>Manufacturer Part Number</th>
      </tr>
    </thead>
    <tbody *ngFor="let x of items">
      <tr>
        <td data-column="Brand Name">{{ x.brand.name }}</td>
        <td data-column="Brand UID">{{ x.brand.uid }}</td>
        <td data-column="Manufacturer UID">{{ x.manufacturer.uid }}</td>
        <td data-column="Manufacturer Part Number">{{ x.mpn }}</td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <span><b>Offers</b></span>
  </div>
  <table>
    <thead>
      <tr>
        <th>Factory Lead Days</th>
        <th>In Stock Qty</th>
        <th>Last Updated</th>
        <th>moq</th>
        <th>packaging</th>
      </tr>
    </thead>
    <tbody *ngFor="let i of offers">
      <tr>
        <td data-column="Brand Name">{{ i.factory_lead_days }}</td>
        <td data-column="In Stock Quantity">{{ i.in_stock_quantity }}</td>
        <td data-column="Last Updated Date">{{ i.last_updated }}</td>
        <td data-column="moq">{{ i.moq }}</td>
        <td data-column="packaging">{{ i.packaging }}</td>
      </tr>
    </tbody>
  </table>
</div>